<% layout('../layouts/mainlayout.ejs') -%>
<br/><br/>
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/CSS/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">    
    </head>
    <h1>FlashQuiz app</h1>
    
    <p>Welcome to use our FlashQuiz application, Login to start creating your FlashQuiz FlashCard :))</p>
    
<footer>
    <p>Created by Group 14 - Aron Y., Daphney C., Richard W., Clinton W.</p>
</footer>
</body>
</html>

